
.titlebar {
  color: inherit;
}

.command-view-grid {
    background: white;
}

.command-entry {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    margin: 12px;
    background: white;
}

.command-entry-box {
    margin-left: 12px;
    margin-bottom: 12px;
    margin-right: 12px;
    padding-left: 6px;
    border: solid 3px purple;
    background: white;
}

.log-row {
    border-bottom: solid 1px #dbdbdb;
}

.log-row-image {
    margin-left: 20px;
    margin-top: 20px;
}

.log-row-description {
    font-size:20px;
    margin:20px;
}

